{% extends 'document/party/party.twig' %}

{% block title %}Sprzedawca{% endblock %}

{% block party %}
    {% if party.name %}
        <p><span class="attract">Nazwa skrócona:</span> {{ party.name }}</p>
    {% endif %}

    <div class="inner-simple">
        <div class="attract">Podmiot prawny</div>
        <p><span class="attract">Nazwa:</span> {{ party.legalEntity.name }}</p>

        {% if party.legalEntity.legalForm %}
            <p><span class="attract">Forma prawna:</span> {{ party.legalEntity.legalForm }}</p>
        {% endif %}

        {% if party.legalEntity.companyId %}
            <p>
                <span class="attract">Identyfikator:</span> {{ party.legalEntity.companyId }}
                {% if party.legalEntity.companySchemeId %}
                    <span>({{ code.getIcd(party.legalEntity.companySchemeId) }})</span>
                {% endif %}
            </p>
        {% endif %}
    </div>

    {% for i,id in party.identification %}
        <p>
            <span class="attract">Identyfikator:</span> {{ id }}
            {% if party.identificationScheme[i] %}
                <span>({{ code.getIcd(party.identificationScheme[i]) }})</span>
            {% endif %}
    </p>
    {% endfor %}

    {% for i,tax in party.taxScheme %}
        <p><span class="attract">NIP:</span> {{ tax.companyId }}</p>
    {% endfor %}

    <p>
        <span class="attract">Identyfikator {{ code.getEas(party.endpointScheme) }}:</span>
        {{ party.endpoint }}
    </p>

    <div class="inner-simple">
        {{ include('document/party/address.twig', {address: party.address}) }}
    </div>
    {% if party.contact %}
        <div class="inner-simple">
            {{ include('document/party/contact.twig', {contact: party.contact}) }}
        </div>
    {% endif %}
{% endblock %}