<html>
    <head>
        <title>{{ block('title') }}</title>
        <style>
            {{ source('default.css') }}
        </style>
    </head>
    <body>
        {{ block('head') }}
        {{ block('body') }}
    </body>
</html>