<h1 class="c">{{ title }}</h1>

{% set refs %}
    {% include 'frame/head_references.twig' %}
{% endset %}

<div class="floating">
    <div class="box w33">
        {% if refs|trim %}
        <div class="inner">
            {{ refs }}
        </div>
        {% endif %}
    </div>

    <div class="box w33"></div>

    <div class="box w33">
        <div class="inner r">
            <p><span class="attract">Data wystawienia:</span> {{ doc.issueDate|date }}</p>
            {% if doc.dueDate %}
                <p><span class="attract">Termin płatności:</span> {{ doc.dueDate|date }}</p>
            {% endif %}
            {% if doc.delivery %}
                <p><span class="attract">Data dostawy:</span> {{ doc.delivery.date|date }}</p>
            {% endif %}
            <p><span class="attract">Waluta faktury:</span> {{ doc.currency }}</p>
            {% if doc.taxCurrency %}
                <p><span class="attract">Waluta podatku VAT:</span> {{ doc.taxCurrency }}</p>
            {% endif %}

            {% if doc.period %}
                <p>&nbsp;</p>
                <p class="attract">Okres fakturowania:</p>
                <p>od: {{ doc.period.startDate ? doc.period.startDate|date : 'brak' }}</p>
                <p>do: {{ doc.period.endDate ? doc.period.endDate|date : 'brak' }}</p>
                {% if doc.period.descriptionCode %}
                    <p>
                        <span class="attract">Data opodatkowania:</span>
                        {{ code.getVatDate(doc.period.descriptionCode) }}
                    </p>
                {% endif %}
            {% endif %}
            {% if doc.taxPointDate %}
                <p>
                    <span class="attract">Data opodatkowania:</span>
                    {{ doc.taxPointDate|date }}
                </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="floating">
    <div class="box w33">
        {% include 'document/party/billing/supplier.twig' with {party: doc.accountingSupplier} %}
    </div>
    <div class="box w33">
        {% include 'document/party.twig' with {
            title: 'Nabywca',
            party: doc.accountingCustomer
        } %}
    </div>
    <div class="box w33">
        {% if doc.payee or doc.taxRepresentative or doc.delivery %}
            {% if doc.payee %}
                {% include 'document/party.twig' with {
                    title: 'Odbiorca płatności',
                    party: doc.payee
                } %}
            {% endif %}
            {% if doc.taxRepresentative %}
                {% include 'document/party.twig' with {
                    title: 'Przedstawiciel podatkowy',
                    party: doc.taxRepresentative
                } %}
            {% endif %}
            {% if doc.delivery %}
                {% include 'document/party/delivery.twig' with {
                    title: 'Odbiorca dostawy',
                    partyTitle: '',
                    party: doc.delivery
                } %}
            {% endif %}
        {% endif %}
    </div>
</div>

{% if doc.paymentMeans or doc.paymentTerms %}
    <div class="floating">
        <div class="box w50">
            {% include 'document/payment.twig' %}
        </div>
    </div>
{% endif %}

{% if doc.note %}
    <p><span class="attract">Uwagi:</span> {{ doc.note }}</p>
{% endif %}
