<h1 class="c">{{ title }}</h1>

{% set refs %}
    {% include 'frame/head_references.twig' %}
{% endset %}

<div class="floating">
    <div class="box w33">
        {% if refs|trim %}
        <div class="inner">
            {{ refs }}
        </div>
        {% endif %}
    </div>

    <div class="box w33"></div>

    <div class="box w33">
        <div class="inner r">
            <p><span class="attract">Data wystawienia:</span> {{ doc.issueDate|date }}</p>
            {% if doc.issueTime %}
                <p><span class="attract">Czas wystawienia:</span> {{ doc.issueDate|date('H:i:s') }}</p>
            {% endif %}
            {% if doc.period %}
                <p><span class="attract">Data ważności zamówienia:</span>
                {{ doc.period.endDate|date }}</p>
            {% endif %}
            <p><span class="attract">Waluta zamówienia:</span> {{ doc.currency }}</p>

            {% if doc.delivery.requestedPeriod %}
                <p>&nbsp;</p>
                <p class="attract">Wymagana data dostawy:</p>
                {% if doc.delivery.requestedPeriod.startDate %}
                    <p>od: {{ doc.delivery.requestedPeriod.startDate|date }}</p>
                {% endif %}
                <p>do: {{ doc.delivery.requestedPeriod.endDate|date }}</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="floating">
    <div class="box w33">
        {% include 'document/party.twig' with {
            title: 'Dostawca',
            party: doc.sellerSupplier
        } %}
    </div>
    <div class="box w33">
        {% include 'document/party.twig' with {
            title: 'Nabywca',
            party: doc.accountingCustomer
        } %}
    </div>
    {% if doc.accountingCustomer %}
        <div class="box w33">
            {% include 'document/party.twig' with {
                title: 'Odbiorca',
                party: doc.buyerCustomer
            } %}
        </div>
        <div class="clear"></div>
    {% endif %}
    {% if doc.originatorCustomer %}
        <div class="box w33">
                {% include 'document/party.twig' with {
                    title: 'Zamawiający',
                    party: doc.originatorCustomer
                } %}
        </div>
    {% endif %}
    {% if doc.delivery %}
        <div class="box w33">
                {% include 'document/party/delivery.twig' with {
                    title: 'Miejsce dostawy',
                    partyTitle: 'Przewoźnik',
                    party: doc.delivery
                } %}
        </div>
    {% endif %}
</div>

<div class="floating">
    {% if doc.paymentTerms %}
        <div class="box w50">
            {% include 'document/payment.twig' %}
        </div>
    {% endif %}

    {% if doc.deliveryTerms %}
        <div class="box w50">
            <div class="inner">
                <p class="heading">Warunki dostawy</p>
                {% if doc.deliveryTerms.id %}
                    <p><span class="attract">Identyfikator:</span>
                    {{ doc.deliveryTerms.id }}</p>
                {% endif %}
                {% if doc.deliveryTerms.specialTerms %}
                    <p><span class="attract">Warunki specjalne:</span>
                    {{ doc.deliveryTerms.specialTerms }}</p>
                {% endif %}
                {% if doc.deliveryTerms.locationId %}
                    <p><span class="attract">Identyfikator lokalizacji:</span>
                    {{ doc.deliveryTerms.locationId }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>

{% if doc.note %}
    <p><span class="attract">Uwagi:</span> {{ doc.note }}</p>
{% endif %}
