{% spaceless %}
{% if doc.salesOrderId %}
<p>
    <span class="attract">Referencja do zamówienia:</span>
    {{ doc.salesOrderId }}
</p>
{% endif %}
{% if doc.accountingCost %}
<p>
    <span class="attract">Stanowisko kosztów:</span>
    {{ doc.accountingCost }}
</p>
{% endif %}
{% if doc.buyerReference %}
<p>
    <span class="attract">Referencja kupującego:</span>
    {{ doc.buyerReference }}
</p>
{% endif %}
{% if doc.customerReference %}
<p>
    <span class="attract">Referencja zamawiającego:</span>
    {{ doc.customerReference }}
</p>
{% endif %}
{% if doc.orderReference %}
<p>
    <span class="attract">Numer zamówienia:</span>
    {{ doc.orderReference.id }}
    {% if doc.orderReference.salesOrderId %}
        (wg dostawcy: {{ doc.orderReference.salesOrderId }})
    {% endif %}
</p>
{% endif %}
{% if doc.billingReference %}
<p>
    <span class="attract">Numer faktury powiązanej:</span>
    {% for ref in doc.billingReference %}
        <span class="no-break">
            {{ ref.invoiceReference.id }}
            {% if ref.invoiceReference.issueDate %}
                z dn. {{ ref.invoiceReference.issueDate|date }}
                {% if not loop.last %}
                    <br />
                {% endif %}
            {% endif %}
        </span>
    {% endfor %}
</p>
{% endif %}
{% if doc.despatchReference %}
<p>
    <span class="attract">Numer awiza:</span>
    {{ doc.despatchReference.id }}
</p>
{% endif %}
{% if doc.receiptReference %}
<p>
    <span class="attract">Numer potwierdzenia odbioru:</span>
    {{ doc.receiptReference.id }}
</p>
{% endif %}
{% if doc.originatorReference %}
<p>
    <span class="attract">Numer ogłoszenia przetargowego:</span>
    {{ doc.originatorReference.id }}
</p>
{% endif %}
{% if doc.contractReference %}
<p>
    <span class="attract">Numer umowy:</span>
    {{ doc.contractReference.id }}
</p>
{% endif %}
{% if doc.projectReference %}
<p>
    <span class="attract">Numer projektu:</span>
    {{ doc.projectReference.id }}
</p>
{% endif %}
{% if doc.quotationReference %}
<p>
    <span class="attract">Identyfikator promocji:</span>
    {{ doc.quotationReference.id }}
</p>
{% endif %}
{% endspaceless %}