<div class="attract">Adres</div>
{% if address.street %}
    <p>{{ address.street }} {{ address.additionalStreet }}</p>
{% endif %}
{% if address.city %}
    <p>{{ address.postalCode }} {{ address.city }}</p>
{% endif %}
{% if address.countrySubentity %}
    <p>{{ address.countrySubentity }}</p>
{% endif %}
<p>{{ code.getCountryAlpha2(address.countryCode) }}</p>