<div class="attract">Dane kontaktowe</div>
{% if contact.name %}
    <p>{{ contact.name }}</p>
{% endif %}
{% if contact.phone %}
    <p><span class="attract">Telefon:</span> {{ contact.phone }}</p>
{% endif %}
{% if contact.email %}
    <p><span class="attract">E-mail:</span> {{ contact.email }}</p>
{% endif %}