{% extends 'document/party/party.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block party %}
    {% if party.locationId %}
        <p>
            <span class="attract">Identyfikator:</span> {{ party.locationId }}
            {% if party.locationSchemeId %}
                <span>({{ code.getIcd(party.locationSchemeId) }})</span>
            {% endif %}
        </p>
    {% endif %}

    <div class="inner-simple">
        {{ include('document/party/address.twig', {address: party.address}) }}
    </div>

    {% include 'document/party.twig' with {
        title: partyTitle,
        party: party.party
    } %}
{% endblock %}