<div class="inner">
    <p class="heading">{{ title ?: 'Kosty i upusty' }}</p>
    <table class="w100">
        <thead>
            <tr>
                <th>Rodzaj</th>
                <th>Kwota</th>
                {% if not noTax %}
                    <th>Stawka podatku</th>
                    <th>Kod VAT</th>
                {% endif %}
                <th>Opis</th>
            </tr>
        </thead>
        <tbody>
        {% for ac in data %}
            <tr>
                <td>{{ ac.isCharge() ? 'koszt' : 'upust' }}</td>
                <td class="r">
                    <p>{{ ac.amount|number_format }}</p>
                    {% if ac.multiplierFactor %}
                        <p>Procent: {{ ac.multiplierFactor }}%</p>
                    {% endif %}
                    {% if ac.baseAmount %}
                        <p>
                            Wartość bazowa:
                            <span class="no-break">{{ ac.baseAmount|number_format }}</span>
                        </p>
                    {% endif %}
                </td>
                {% if not noTax %}
                    <td class="c">{{ ac.taxCategory ? ac.taxCategory.percent~'%' : '-' }}</td>
                    <td class="c">{{ ac.taxCategory ? ac.taxCategory.id : '-' }}</td>
                {% endif %}
                <td>
                    {% if ac.reasonCode %}
                        <p>
                            Kod: {{ ac.reasonCode }}
                            ({{ ac.isCharge()
                                ? code.getChargeReason(ac.reasonCode)
                                : code.getAllowanceReason(ac.reasonCode) }})
                        </p>
                    {% endif %}
                    {% if ac.reason %}
                        <p>{{ ac.reason }}</p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>