<div class="inner">
    <p class="heading">{{ title }}</p>
    <table class="w100">
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Opis</th>
                <th>Stanowisko kosztów</th>
                <th>Kwota</th>
            </tr>
        </thead>
        <tbody>
            {% for line in lines %}
                <tr>
                    <td class="r">{{ line.id }}</td>
                    <td>{{ line.note }}</td>
                    <td>{{ line.accountingCost }}</td>
                    <td class="r">{{ line.netAmount|number_format }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td class="r attract" colspan="3">Razem</td>
                <td class="r attract">{{ doc.lines|colsum('netAmount')|number_format }}</td>
            </tr>
        </tbody>
    </table>
</div>