<div class="inner">
    <p class="heading">{{ title ?: 'Podsumowanie dokumentu' }}</p>
    <div class="r">
        <p>
            <span class="attract">Wartość netto z pozycji:</span>
            <span class="no-break">{{ data.netAmount|number_format }}</span>
        </p>
        {% if data.allowancesAmount %}
            <p>
                <span class="attract">Wartość upustów:</span>
                <span class="no-break">{{ data.allowancesAmount|number_format }}</span>
            </p>
        {% endif %}
        {% if data.chargesAmount %}
            <p>
                <span class="attract">Wartość obciążeń:</span>
                <span class="no-break">{{ data.chargesAmount|number_format }}</span>
        </p>
        {% endif %}
        {% if data.taxExclusiveAmount %}
            <p>
                <span class="attract">Wartość netto:</span>
                <span class="no-break">{{ data.taxExclusiveAmount|number_format }}</span>
            </p>
        {% endif %}
        {% if taxAmount %}
            <p>
                <span class="attract">Wartość podatku:</span>
                <span class="no-break">{{ taxAmount|number_format }}</span>
            </p>
        {% endif %}
        {% if data.taxInclusiveAmount %}
            <p>
                <span class="attract">Wartość brutto:</span>
                <span class="no-break">{{ data.taxInclusiveAmount|number_format }}</span>
            </p>
        {% endif %}
        {% if data.toPayRoundingAmount %}
            <p>
                <span class="attract">Wartość zaokrągleń:</span>
                <span class="no-break">{{ data.toPayRoundingAmount|number_format }}</span>
            </p>
        {% endif %}
        {% if data.prepaidAmount %}
            <p>
                <span class="attract">Wartość przedpłat:</span>
                <span class="no-break">{{ data.prepaidAmount|number_format }}</span>
            </p>
        {% endif %}
        {% if not total %}
            <p class="big attract">
                <span>{{ data.toPayAmount >= 0 ? 'Do zapłaty' : 'Do zwrotu' }}:</span>
                <span class="no-break">{{ data.toPayAmount|abs|number_format }}</span>
            </p>
        {% else %}
            <p>
                <span class="attract">{{ data.toPayAmount >= 0 ? 'Do zapłaty' : 'Do zwrotu' }}:</span>
                <span class="no-break">{{ data.toPayAmount|number_format }}</span>
            </p>
        {% endif %}
    </div>
</div>