<div class="inner">
    <p class="heading">{{ title ?: 'Pozycje zamówienia' }}</p>
    <table class="w100">
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Nazwa</th>
                <th>Ilość</th>
                <th>Jm.</th>
                <th>Cena jedn. netto</th>
                <th>Rabat</th>
                <th>Kod VAT</th>
                <th>Stawka VAT</th>
                <th>Wartość netto</th>
                <th>Kwota podatku</th>
                <th>Wartość brutto</th>
            </tr>
        </thead>
        <tbody>
            {% for line in lines %}
                <tr>
                    <td class="r" rowspan="2">{{ line.id }}</td>
                    <td>{{ line.item.name }}</td>
                    <td class="r">{{ line.quantity }}</td>
                    <td>{{ code.unitCode(line.quantityUnitCode) }}</td>
                    <td class="r">
                        {{ (line.price.allowance
                            ? line.price.allowance.baseAmount
                            : line.price.baseAmount)|number_format }}
                    </td>
                    <td class="r">
                        {{ (line.price.allowance
                            ? line.price.allowance.amount
                            : 0)|number_format }}
                    </td>
                    <td class="c">{{ line.item.taxCategory ? line.item.taxCategory.id : '-' }}</td>
                    <td class="r">{{ line.item.taxCategory ? line.item.taxCategory.percent~'%' : '-' }}</td>
                    <td class="r">{{ line.netAmount|number_format }}</td>
                    <td class="r">{{ line.item.taxCategory ? line.taxAmount|number_format : '-' }}</td>
                    <td class="r">{{ line.item.taxCategory ? line.grossAmount|number_format : '-' }}</td>
                </tr>
                <tr>
                    <td colspan="10">
                        <div class="floating">
                            <div class="box w50">
                                {% if line.note %}
                                    <p><span class="attract">Informacja:</span> {{ line.note }}</p>
                                {% endif %}

                                {% if line.partialDelivery is not null %}
                                    <p>
                                        <span class="attract">Częściowa dostawa:</span>
                                        {{ line.partialDelivery ? 'TAK' : 'NIE' }}
                                    </p>
                                {% endif %}

                                {% if line.accountingCost %}
                                    <p>
                                        <span class="attract">Pozycja kosztów u nabywcy:</span>
                                        {{ line.accountingCost }}
                                    </p>
                                {% endif %}

                                {% if line.delivery %}
                                    <p>
                                        <span class="attract">Data dostawy:</span>
                                        {{ line.delivery.requestedPeriod.startDate ? line.delivery.requestedPeriod.startDate|date : 'brak' }} -
                                        {{ line.delivery.requestedPeriod.endDate ? line.delivery.requestedPeriod.endDate|date : 'brak' }}
                                    </p>
                                {% endif %}

                                {% if line.item.description %}
                                    <p><span class="attract">Opis:</span> {{ line.item.description }}</p>
                                {% endif %}

                                {% if line.item.buyerIdentification %}
                                    <p>
                                        <span class="attract">Identyfikator kupującego:</span>
                                        {{ line.item.buyerIdentification }}
                                    </p>
                                {% endif %}

                                {% if line.item.sellerIdentification %}
                                    <p>
                                        <span class="attract">Identyfikator sprzedającego:</span>
                                        {{ line.item.sellerIdentification }}
                                    </p>
                                {% endif %}

                                {% if line.item.standardIdentification %}
                                    <p>
                                        <span class="attract">Identyfikator standardowy:</span>
                                        {{ line.item.standardIdentification }}
                                        ({{ code.getIcd(line.item.standardIdentificationSchemeId) }})
                                        {# kod kreskowy dla EAN, GS1 #}
                                        {#{% if line.item.standardIdentificationSchemeId in ['0088','0160'] %}
                                            <br />
                                            <barcode
                                                code="{{ line.item.standardIdentification }}"
                                                type="EAN13" height="0.2" size="0.8" />
                                        {% endif %}#}
                                    </p>
                                {% endif %}

                                {% for i,classification in line.item.classificationCode %}
                                    <p>
                                        <span class="attract">Kod klasyfikacji:</span>
                                        {{ classification }}
                                        ({{ code.getItemTypeId(line.item.classificationCodeListId[i]) }})
                                        {{ line.item.classificationCodeListVersion[i] }}
                                        {# kod kreskowy dla EAN, UPC, IMEI, GS1 #}
                                        {#{% if line.item.standardIdentificationSchemeId in ['0088','0160'] %}
                                            <br />
                                            <barcode
                                                code="{{ classification }}"
                                                type="EAN13" height="0.2" size="0.8" />
                                        {% endif %}#}
                                    </p>
                                {% endfor %}

                                {% for specification in line.item.specificationReference %}
                                    <p>
                                        <span class="attract">Referencja specyfikacji:</span>
                                        {{ specification }}
                                    </p>
                                {% endfor %}

                                {% for property in line.item.property %}
                                    <p>
                                        <span class="attract">{{ property.name }}:</span>
                                        {{ property.value }}
                                    </p>
                                {% endfor %}

                                {% for instance in line.item.instance %}
                                    {% if instance.serialId %}
                                        <p>
                                            <span class="attract">Numer serii:</span>
                                            {{ instance.serialId }}
                                        </p>
                                    {% endif %}
                                    {% if instance.lotNumberId %}
                                        <p>
                                            <span class="attract">Numer partii:</span>
                                            {{ instance.lotNumberId }}
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="box w50">
                                {% if line.originator %}
                                    {% include 'document/party.twig' with {
                                        title: 'Inicjujący zamówienie towaru',
                                        party: line.originator
                                    } %}
                                {% endif %}

                                {% if line.allowancesCharges %}
                                    {% include 'document/allowance_charge.twig' with {
                                        title: null,
                                        data: line.allowancesCharges,
                                        noTax: true
                                    } %}
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td class="r attract" colspan="8">Razem</td>
                <td class="r attract">{{ lines|colsum('netAmount')|number_format }}</td>
                <td class="r attract">{{ lines|colsum('taxAmount')|number_format }}</td>
                <td class="r attract">{{ lines|colsum('grossAmount')|number_format }}</td>
            </tr>
        </tbody>
    </table>
</div>