{% extends 'document/party/party.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block party %}
    {% if party.name %}
        <p><span class="attract">Nazwa skrócona:</span> {{ party.name }}</p>
    {% endif %}

    {% if party.legalEntity %}
    <div class="inner-simple">
        <div class="attract">Podmiot prawny</div>
        {% if party.legalEntity.name %}
            <p><span class="attract">Nazwa:</span> {{ party.legalEntity.name }}</p>
        {% endif %}

        {% if party.legalEntity.legalForm %}
            <p><span class="attract">Forma prawna:</span> {{ party.legalEntity.legalForm }}</p>
        {% endif %}

        {% if party.legalEntity.companyId %}
            <p>
                <span class="attract">Identyfikator:</span> {{ party.legalEntity.companyId }}
                {% if party.legalEntity.companySchemeId %}
                    <span>({{ code.getIcd(party.legalEntity.companySchemeId) }})</span>
                {% endif %}
            </p>
        {% endif %}

        {% if party.legalEntity.address %}
            <div class="inner-simple">
                {{ include('document/party/address.twig', {address: party.legalEntity.address}) }}
            </div>
        {% endif %}
    </div>
    {% endif %}

    {% if party.identification %}
        <p>
            <span class="attract">Identyfikator:</span> {{ party.identification }}
            {% if party.identificationScheme %}
                <span>({{ code.getIcd(party.identificationScheme) }})</span>
            {% endif %}
        </p>
    {% endif %}

    {% if party.taxScheme %}
        <p><span class="attract">NIP:</span> {{ party.taxScheme.companyId }}</p>
    {% endif %}

    {% if party.endpoint %}
    <p>
        <span class="attract">Identyfikator {{ code.getEas(party.endpointScheme) }}:</span>
        {{ party.endpoint }}
    </p>
    {% endif %}

    {% if party.address %}
        <div class="inner-simple">
            {{ include('document/party/address.twig', {address: party.address}) }}
        </div>
    {% endif %}
    {% if party.contact %}
        <div class="inner-simple">
            {{ include('document/party/contact.twig', {contact: party.contact}) }}
        </div>
    {% endif %}
{% endblock %}
