
<div class="inner">
    <p class="heading">Sposób płatności</p>
    {% if doc.dueDate %}
        <p>
            <span class="attract">Termin płatności:</span> {{ doc.dueDate|date }}
        </p>
    {% endif %}
    {% if doc.paymentTerms %}
        <p>{{ doc.paymentTerms }}</p>
    {% endif %}

    {% for payment in doc.paymentMeans %}
        <p>
            <span class="attract">{{ code.paymentMeans(payment.code) }}</span>
            {% if payment.codeName %}
                ({{ payment.codeName }})
            {% endif %}
        </p>
        {% if payment.id %}
            <p><span class="attract">ID płatności wg sprzedającego:</span> {{ payment.id }}</p>
        {% endif %}
{# płatność kartą #}
        {% if payment.card %}
            <div class="inner-simple">
                <p class="heading">Karta bankowa</p>
                <p>
                    <span class="attract">Numer:</span>
                    {{ payment.card.number }}
                </p>
                <p>
                    <span class="attract">Typ karty:</span>
                    {{ payment.card.network }}
                </p>
                <p>
                    <span class="attract">Właściciel:</span>
                    {{ payment.card.holderName }}
                </p>
            </div>
        {% endif %}
{# płatność przelewem #}
        {% if payment.account %}
            <div class="inner-simple">
                <p class="heading">Przelew bankowy</p>
                <p>
                    <span class="attract">Numer konta do wpłaty:</span>
                    {{ payment.account.number }}
                </p>
                <p>
                    <span class="attract">Nazwa konta:</span>
                    {{ payment.account.name }}
                </p>
                <p>
                    <span class="attract">Nazwa banku:</span>
                    {{ payment.account.institutionName }}
                </p>
            </div>
        {% endif %}
{# płatność poleceniem zapłaty #}
        {% if payment.mandate %}
            <div class="inner-simple">
                <p class="heading">Polecenie zapłaty</p>
                <p>
                    <span class="attract">Identyfikator płatności:</span>
                    {{ payment.mandate.id }}
                </p>
                <p>
                    <span class="attract">Numer obciążanego konta:</span>
                    {{ payment.mandate.account.number }}
                </p>
            </div>
        {% endif %}

        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}
</div>