<div class="inner">
    <p class="heading">{{ title ?: 'Załączniki do faktury' }}</p>
    <table class="w100">
        <thead>
            <tr>
                <th>Kod dokumentu</th>
                <th>Opis</th>
                <th>Załącznik</th>
            </tr>
        </thead>
        <tbody>
            {% for reference in references %}
                <tr>
                    <td>
                        {{ reference.id }}
                        {% if reference.schemeId %}
                            [{{ reference.schemeId }}]<br />
                            ({{ code.getInvoicedObjectIdentifier(reference.schemeId) }})
                        {% endif %}
                    </td>
                    <td>{{ reference.documentDescription }}</td>
                    <td>
                        {% if reference.attachment %}
                            {% if reference.attachment.embeddedDocument %}
                                <p>plik: {{ reference.attachment.embeddedFileName }}</p>
                                <p>mime code: {{ reference.attachment.embeddedMimeCode }}</p>
                                <p>rozmiar: {{ reference.attachment.embeddedSize|format_bytes }}</p>
                            {% endif %}
                            {{ reference.attachment.externalUri }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>