{% if doc.taxTotal %}
<div class="inner">
    <p class="heading">{{ title ?: 'Podsumowanie stawek podatku' }}</p>
    {% if taxes %}
    <table class="w100">
        <thead>
            <tr>
                <th>Stawka</th>
                <th>Kod VAT</th>
                <th>Wartość netto</th>
                <th>Wartość podatku</th>
                <th>Wartość brutto</th>
            </tr>
        </thead>
        <tbody>
            {% for tax in taxes %}
                {% set rowspan = 1 %}
                {% if tax.category.extemptionReason or tax.category.extemptionReasonCode %}
                    {% set rowspan = rowspan + 1 %}
                {% endif %}
                <tr>
                    <td class="c" rowspan="{{ rowspan }}">{{ tax.category.percent }}%</td>
                    <td class="c" rowspan="{{ rowspan }}">
                        {{ code.taxCategory(tax.category.id) }}
                        [{{ tax.category.id }}]
                    </td>
                    <td class="r">{{ tax.netAmount|number_format }}</td>
                    <td class="r">{{ tax.amount|number_format }}</td>
                    <td class="r">{{ tax.grossAmount|number_format }}</td>
                </tr>
                {% if rowspan > 1 %}
                    <tr>
                        <td colspan="3">
                            <p class="attract">Przyczyna zwolnienia:</p>
                            {% if tax.category.extemptionReason %}
                                <p>{{ tax.category.extemptionReason }}</p>
                            {% endif %}
                            {% if tax.category.extemptionReasonCode %}
                                <p>Kod: {{ tax.category.extemptionReasonCode }}</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if taxes|length > 1 %}
            <tr>
                <td colspan="2" class="r attract">Razem</td>
                <td class="r attract">{{ taxes|colsum('netAmount')|number_format }}</td>
                <td class="r attract">{{ taxes|colsum('amount')|number_format }}</td>
                <td class="r attract">{{ taxes|colsum('grossAmount')|number_format }}</td>
            </tr>
            {% endif %}
            {% if taxCurrency %}
            <tr>
                <td colspan="3" class="r attract">Wartość podatku w wybranej walucie</td>
                <td class="r attract">{{ taxCurrencyAmount|number_format }} {{ taxCurrency.currency }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% endif %}
    {{ amount }}
</div>
{% endif %}