{% extends "frame/frame.twig" %}

{% block title %}Nota księgowa nr {{ doc.id }}{% endblock %}

{% block head %}
    {% include 'frame/head_invoice.twig' with {title: block('title')} %}
{% endblock %}

{% block body %}
    <div class="box">
        {% include 'document/credit_note_line.twig' with {
            title: 'Pozycje noty',
            lines: doc.lines
        } %}
    </div>
    <div class="floating">
        <div class="box w50"></div>
        <div class="box w50 r">
            {% include 'document/monetary_total.twig' with {
                data: doc.total
            } %}
        </div>
    </div>
{% endblock %}