/* mPDF */
@page {
    size: landscape;
    sheet-size: A4;
    margin-left: 1cm;
    margin-right: 1cm;
}

body {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 11px;
}

p {
    margin: 2px 0;
}

table {
	border-collapse: collapse;
    border: 1px solid #888;
    font-size: 1em;
}
table.no-frame,
table.no-frame th,
table.no-frame td {
    border: 0;
}
td, th {
    border: 1px solid #888;
    padding: 2px 3px;
}
th {
    background-image: linear-gradient(180deg, #ccc 0px, #eee 15px, #fff 23px);
}

hr {
    border: 1px dashed #888;
}

.c { text-align: center; }
.r { text-align: right; }
.w5 { width: 5%; }
.w10 { width: 10%; }
.w15 { width: 15%; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w33 { width: 33%; }
.w50 { width: 50%; }
.w66 { width: 66%; }
.w75 { width: 75%; }
.w100 { width: 100%; }
.big { font-size: 1.3em; }

.heading {
    text-transform: uppercase;
    font-weight: bold;
}

.attract {
    font-weight: bold;
}

.no-break {
    white-space: nowrap;
}

.floating {
    clear: both;
    overflow: hidden;
}

.floating .box {
    float: left;
}

.clear {
    clear: both;
}

.box {
    margin-bottom: 5px;
}

.box .inner {
    margin: 2px 2px 5px;
    padding: 3px;
    border-top: 3px solid #aaa !important;
    border-left: 1px solid #aaa !important;
    background-image: linear-gradient(180deg, #ccc 0px, #eee 15px, #fff 23px);
}

.box .inner-simple {
    margin: 2px 2px 5px;
    padding: 3px;
    border-top: 2px solid #ccc !important;
    border-left: 1px solid #ccc !important;
}

.box p {
    padding-left: 5px;
    text-indent: -5px;
}

/* mPDF */
@media only print {

    body {
        font-size: 10px;
    }

    th {
        background-image: linear-gradient(270deg, #ccc 0px, #eee 15px, #fff 23px);
    }

    .box .inner {
        background-image: linear-gradient(270deg, #ccc 0px, #eee 15px, #fff 23px);
    }
}