{% extends "frame/frame.twig" %}

{% block title %}Faktura VAT nr {{ doc.id }}{% endblock %}

{% block head %}
    {% include 'frame/head_invoice.twig' with {title: block('title')} %}
{% endblock %}

{% block body %}
    <div class="box">
        {% include 'document/invoice_line.twig' with {
            lines: doc.lines
        } %}
    </div>
    <div class="floating">
        <div class="box w50">
            {% include 'document/tax_total.twig' with {
                taxes: doc.taxTotal[0].subtotal,
                taxCurrency: doc.taxCurrency,
                taxCurrencyAmount: (doc.taxTotal[1] ? doc.taxTotal[1].amount : null)
            } %}
            {% if doc.additionalReferences %}
                {% include 'document/references.twig' with {
                    references: doc.additionalReferences
                } %}
            {% endif %}
        </div>
        <div class="box w50">
            {% if doc.allowancesCharges %}
                {% include 'document/allowance_charge.twig' with {
                    data: doc.allowancesCharges,
                    title: 'Koszty i upusty do całości faktury'
                } %}
            {% endif %}
            {% include 'document/monetary_total.twig' with {
                data: doc.total,
                taxAmount: doc.taxTotal[0].amount
            } %}
        </div>
    </div>
{% endblock %}