{% extends "frame/frame.twig" %}

{% block title %}Korekta Faktury VAT nr {{ doc.id }}{% endblock %}

{% block head %}
    {% include 'frame/head_invoice.twig' with {title: block('title')} %}
{% endblock %}

{% block body %}
    <div class="box">
        <div class="inner">
            <p class="heading">Pozycje faktury</p>
            {% include 'document/invoice_line.twig' with {
                title: 'Przed korektą',
                lines: doc.originInvoiceData.lines
            } %}
            {% include 'document/invoice_line.twig' with {
                title: 'Po korekcie',
                lines: doc.lines
            } %}
        </div>
    </div>
    <div class="floating">
        <div class="box w50">
            <div class="inner">
                <p class="heading">Podsumowanie stawek podatku</p>
                {% include 'document/tax_total.twig' with {
                    title: 'Przed korektą',
                    taxes: doc.originInvoiceData.taxTotal[0].subtotal,
                    taxCurrency: (doc.originInvoiceData.taxTotal[1] ? : null)
                } %}
                {% include 'document/tax_total.twig' with {
                    title: 'Po korekcie',
                    taxes: doc.taxTotal[0].subtotal,
                    taxCurrency: (doc.taxTotal[1] ? : null)
                } %}
                {% include 'document/tax_total.twig' with {
                    title: 'Różnice',
                    taxes: doc.diffInvoiceData.taxTotal[0].subtotal
                } %}
            </div>
            {% if doc.additionalReferences %}
                {% include 'document/references.twig' with {
                    references: doc.additionalReferences
                } %}
            {% endif %}
        </div>
        <div class="box w50">
            <div class="inner">
                <p class="heading">Koszty i upusty do całości faktury</p>
                {% if doc.originInvoiceData.allowancesCharges %}
                    {% include 'document/allowance_charge.twig' with {
                        data: doc.originInvoiceData.allowancesCharges,
                        title: 'Przed korektą'
                    } %}
                {% endif %}
                {% if doc.allowancesCharges %}
                    {% include 'document/allowance_charge.twig' with {
                        data: doc.allowancesCharges,
                        title: 'Po korekcie'
                    } %}
                {% endif %}
                {% if doc.diffInvoiceData.allowancesCharges %}
                    {% include 'document/allowance_charge.twig' with {
                        data: doc.diffInvoiceData.allowancesCharges,
                        title: 'Różnice'
                    } %}
                {% endif %}
            </div>
            <div class="inner">
                <p class="heading">Podsumowanie dokumentu</p>
                {% include 'document/monetary_total.twig' with {
                    title: 'Przed korektą',
                    data: doc.originInvoiceData.total,
                    total: true
                } %}

                {% include 'document/monetary_total.twig' with {
                    title: 'Po korekcie',
                    data: doc.total,
                    total: true
                } %}

                {% include 'document/monetary_total.twig' with {
                    title: 'Różnice',
                    data: doc.diffInvoiceData.total
                } %}
            </div>
        </div>
    </div>
{% endblock %}