{% extends "frame/frame.twig" %}

{% block title %}Zamówienie nr {{ doc.id }}{% endblock %}

{% block head %}
    {% include 'frame/head_order.twig' with {title: block('title')} %}
{% endblock %}

{% block body %}
    <div class="box">
        {% include 'document/order_line.twig' with {
            lines: doc.lines
        } %}
    </div>
    <div class="floating">
        <div class="box w50">
            {% if doc.allowancesCharges %}
                {% include 'document/allowance_charge.twig' with {
                    data: doc.allowancesCharges,
                    title: 'Koszty i upusty do całości zamówienia'
                } %}
            {% endif %}
            {% if doc.additionalReferences %}
                {% include 'document/references.twig' with {
                    title: 'Załączniki do zamówienia',
                    references: doc.additionalReferences
                } %}
            {% endif %}
        </div>
        <div class="box w50">
            {% include 'document/monetary_total.twig' with {
                data: doc.total,
                taxAmount: doc.taxTotal.amount
            } %}
        </div>
    </div>
{% endblock %}